<div class="container-fluid py-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-5 fw-bold text-light">Compose</h1>
    </div>
  </div>
  <div class="writing-card">
    <h2 class="page-title text-light">New Poem</h2>
    <br>
    <form class="form newPoem-form">
      <div class="titleForm-group">
        <label for="poemTitle" class="text-light">Title:</label>
        <input type="text" class="form-control" id="poemTitle" />
      </div>
      <br>
      <div class="contentForm-group">
        <label for="poem-content" class="text-light">Contents:</label>
         <textarea class="form-control" rows="13" id="poem-content"></textarea>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary cornFlower" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<script src="../js/compose.js"></script>