<div class="container">
  <div class="row row-cols-3 g-4">
    {{#if emptyArray}}
      {{#each emptyArray}}
        <div class="col" id="result-block-{{this.id}}" hidden>
            <div class="card-body">
              <h5 class="card-title" id="title-{{this.id}}">TITLE</h5>
              <p class="card-text" id="author-{{this.id}}">AUTHOR</p>
              {{#if ../loggedIn}}
                <button class="btn btn-primary" id="btn-{{this.id}}">Fave</button>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
</div>

<script src="../js/results.js"></script>
